QWidget#MainWindow{
 background-color: qlineargradient(x1:0,yi:0,x2:0,y2:1,stop:0 #E0FFFF,stop:1 white);
}
QLabel{
    font-weight:bold;
}
QtoolButton#toolButton4{
    background-color: #F0F0F0;
    font:bold;
}