QPushButton{
    border-radius: 2px;
    background-color: #F0F0F0;
    font:bold;
}
QFrame#Frame{
    background-color: qlineargradient(x1:0,yi:0,x2:0,y2:1,stop:0 #E0FFFF,stop:1 white);        
}
QComboBox{
    background-color: #F0F0F0;
    border-radius: 10px;
    border: groove #F0F0F0;
    font: bold;
}
QLineEdit{
    border-radius:5px;
    border: groove #F0F0F0;
}