QFrame#Frame{
     background-color: qlineargradient(x1:0,yi:0,x2:0,y2:1,stop:0 #E0FFFF,stop:1 white);
}
QListView{
 background-color: #E0FFFF;
 alternate-background-color:gray;
show-decoration-selected:1;
border-radius: 10px;
border: 1px solid #CCCCCC;
}